Download kaggle data in Google Colab :

Link : https://www.kaggle.com/mkechinov/ecommerce-behavior-data-from-multi-category-store/version/8

In [1]:
 ! pip install -q kaggle

In [2]:
from google.colab import files
# Choose the kaggle.json file that you downloaded
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"kareemdesouky","key":"165e4bc1f98904dab3bf653f7ca401fc"}'}

In [3]:
#  Make directory named kaggle and copy kaggle.json file there.
! mkdir ~/.kaggle

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
# Change the permissions of the file.
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
 ! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-12-12 11:59:54          18633
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01          11305
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           5804
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3977
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           2006
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           3088
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1503
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           2179
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            611
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1177
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1219
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            578
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            210
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            271
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            177
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            277
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         163181
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         152395
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          31743
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          26879

In [7]:
! kaggle datasets download mkechinov/ecommerce-behavior-data-from-multi-category-store

Downloading ecommerce-behavior-data-from-multi-category-store.zip to /content
100% 4.28G/4.29G [01:22<00:00, 82.0MB/s]
100% 4.29G/4.29G [01:22<00:00, 55.6MB/s]

In [8]:
! unzip /content/ecommerce-behavior-data-from-multi-category-store.zip

Archive:  /content/ecommerce-behavior-data-from-multi-category-store.zip
  inflating: 2019-Nov.csv
  inflating: 2019-Oct.csv

Read datasets :

#What’s an Ecommerce Recommendation System?
Sometimes referred to as product recommendation engines, these systems allow businesses to personalize their offerings by showing all visitors relevant products. After tracking the behavior of visitors, the engine will suggest other products in which they may have an interest. The hope is that they see these suggestions and continue shopping. When done correctly, this type of ecommerce marketing can increase the average spend of visitors and help your brand to grow.

Using algorithms and machine learning, they consider the most relevant products for every individual. Rather than delivering universal suggestions, the products are tailored to each visitor.

These algorithms originally started by showing products based on what others clicked on and the most popular products within certain time frames. As time goes on, the algorithms are becoming more specialized and complex. With contextual bandit algorithms, for example, promotions are offered to visitors before they even express their interests or leave a traceable footprint.

Elsewhere, you will find text analysis algorithms which use NLP (natural language processing) to pick up on keywords that work with each visitor. 

Fortunately, we don’t need to go too deep into the explanations because there are valuable recommendation systems that will do all the work for you. If you’re interested in ecommerce marketing and tailoring your experience to each visitor, we recommend one of the following suggestions

#Why Choose a Recommendation Engine?

we should briefly mention the main benefits of investing in this area, including:

Improved cross-selling and upselling techniques (increased sales)

Increased click-through and conversion rates

Boosted happiness in customers (and hopefully increased word of mouth and free advertising)

Stronger brand image and a positive reputation in the market

In [25]:
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 28.0 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619408 sha256=afbd3d7d70b52799101d94b2fb53a9c14f7a1602d758f9bc330ad9bffe5a8d2d
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
from surprise import Dataset, KNNWithMeans, Reader

In [2]:
data_oct = pd.read_csv('2019-Oct.csv',usecols=['event_type','product_id','user_id','category_code','brand'])

In [3]:
data_nov = pd.read_csv('2019-Nov.csv',usecols=['event_type','product_id','user_id','category_code','brand'])

In [4]:
data_oct.head()

  event_type  product_id  ...     brand    user_id
0       view    44600062  ...  shiseido  541312140
1       view     3900821  ...      aqua  554748717
2       view    17200506  ...       NaN  519107250
3       view     1307067  ...    lenovo  550050854
4       view     1004237  ...     apple  535871217

[5 rows x 5 columns]

In [5]:
data_oct['event_type'].unique()

array(['view', 'purchase', 'cart'], dtype=object)

In [45]:
data_nov['event_type'].unique()

array(['view', 'cart', 'purchase'], dtype=object)

In [7]:
# sampledf_oct = data_oct.sample(n=222222 , weights = data_oct.groupby('event_type')['event_type'].transform('count'))

In [8]:
sampledf_oct = data_oct.sample(n=2222)

In [9]:
sampledf_oct.event_type.value_counts()

view        2132
cart          49
purchase      41
Name: event_type, dtype: int64

In [10]:
# sampledf_nov = data_nov.sample(n=222222 , weights = data_nov.groupby('event_type')['event_type'].transform('count'))

In [11]:
sampledf_nov = data_oct.sample(n=2222)

In [12]:
sampledf_nov.event_type.value_counts()

view        2139
cart          53
purchase      30
Name: event_type, dtype: int64

In [47]:
data = pd.concat([sampledf_oct , sampledf_nov ])

In [48]:
data.head()

         event_type  product_id  ...    brand    user_id
40547786       view     8200413  ...      NaN  565739512
19664820       cart     4802272  ...  samsung  513908877
41206303       view    59000009  ...     zubr  565573952
37035845       view     5301192  ...  philips  512711434
37109912       view    21409264  ...      NaN  517661149

[5 rows x 5 columns]

In [49]:
data.shape

(4444, 5)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4444 entries, 40547786 to 13316260
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   event_type     4444 non-null   object
 1   product_id     4444 non-null   int64
 2   category_code  3030 non-null   object
 3   brand          3826 non-null   object
 4   user_id        4444 non-null   int64
dtypes: int64(2), object(3)
memory usage: 208.3+ KB

In [18]:
data.dtypes

event_type       object
product_id        int64
category_code    object
brand            object
user_id           int64
dtype: object

In [19]:
data.isnull().sum()

event_type          0
product_id          0
category_code    1414
brand             618
user_id             0
dtype: int64

In [20]:
data.event_type.value_counts()

view        4271
cart         102
purchase      71
Name: event_type, dtype: int64

#We will assume that the event_type filed is the user ranking by change :

the view by lower rank (1) 

cart (2) 

purchase the higher rank to be (3)

In [21]:
data['event_type'] = data['event_type'].map({'view': 1, 'cart': 2 , 'purchase' : 3})

In [22]:
data.dtypes

event_type        int64
product_id        int64
category_code    object
brand            object
user_id           int64
dtype: object

In [23]:
data.event_type.value_counts()

1    4271
2     102
3      71
Name: event_type, dtype: int64

In [24]:
reader = Reader(rating_scale=(1, 3))

In [25]:
data_sur = Dataset.load_from_df(data[['user_id', "product_id", "event_type"]], reader)

In [26]:
# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}

In [27]:
model = KNNWithMeans(sim_options=sim_options)

In [28]:
trainingSet = data_sur.build_full_trainset()

In [29]:
model.fit(trainingSet)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [30]:
def top_n(n):
    """
    return top n purchased products
    
    """
    top_product = data.sort_values(
        by='event_type', ascending=False)

    return top_product[:n]

In [31]:
top_n(5)

          event_type  product_id  ...     brand    user_id
21456642           3     1003304  ...     apple  512643413
27619200           3     2900852  ...  dauscher  552470400
1630993            3     1005117  ...     apple  523393568
408702             3     2600454  ...     hansa  547832130
5567559            3     2900569  ...        lg  515813614

[5 rows x 5 columns]

In [42]:
 def top_5_recommendations_product(uid , n):

   """
   funtion that take the user ID and the number of the recommended products
   and returs the top number of the recommendation products
   
   """
    
    product_purchase_by_user = data.loc[data['user_id']==uid, "product_id"].values
    
    other_products = data.loc[~data['product_id'].isin(product_purchase_by_user)].sort_values(
        by='event_type', ascending=False)
        

    other_products['user_rate'] = other_products['product_id'].apply(lambda x: model.predict(uid, x).est)

    top_n = other_products.sort_values(by='user_rate', ascending=False).head(n)
    
    return top_n[['product_id' , 'brand' , 'category_code']]

In [44]:
top_5_recommendations_product( 512643413 , 5)

          product_id      brand            category_code
12101136     1003877  prestigio   electronics.smartphone
30478641     2501740    redmond  appliances.kitchen.oven
28586434     5100722     huawei       electronics.clocks
38275694    12711949   triangle                      NaN
3728100     26006609       samo                      NaN

# Techniques that i'm thought to use :

- Use py-spark to process the large datasets in a distributed cluster but by the way i working with pyspark in past but now im not expert

- Cluster the data firstly by DBscan and choose sample from each cluster but still to need read all the datasets in the same notebook

- Create a dashboard using DASH and upload the progect to Herouku

- Create a RESTFULL API with get and post requests for simply usage by using Flask or FastAPI

- Create statistical report like A/B test

- Use another approach  for the recommendation model

# proplem that i encountered :

- The 7 datasets are very big for concatenation it's around 15 GB and its hard to download and need a huge resources for processing

- About the sampling techniques i can take a sample by the event_type categeory weight its easy but i still need to read all the datasets in the same notebook or save sample for each dataset and finally get the files and concatenate its , yes its a solution but its hard and i doesnt prefer the sampling anyway

Finally thanks for giving me this opportunity im really excited by working at this task but unforutnatlly i think tottally i made this task may be in just 10 hours because im working just 2 hours per day after my work i hope you that in your consideration 

thanks all :)